
body{
	margin:0px;
	min-width:1125px;
    font-size: 14px;
    background: #F2F2F2;
    color:#999198;
}

.none{
    display: none;
}
.vh{
	visibility: hidden!important;
}
.vt{
	vertical-align: top!important;
}
.fr{
	float:right!important;
}
.fl{
	float:left!important;
}
.dib{
	display: inline-block!important
}
.cb{
	clear:both!important;
}
.cp{
	cursor:pointer!important;
}
.ft-12{
	font-size:12px!important;
}
.ft-14{
	font-size:14px!important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(167,167,167, 0.8);
	
}
::-webkit-scrollbar-thumb:hover {
		background-color: rgba(167,167,167, 1);
	}
::-webkit-scrollbar-corner {
	background-color: rgba(0,0,0,0.1);
}
.cropper-crop-box{
	z-index:1000
}
::-webkit-input-placeholder{
   color:#c0c4cc;
}
input{
    /*height: 27px;*/
    /*width:200px;*/
    /*padding-left: 5px;*/
    /*border: 1px solid #E6E6E6;*/
	/*-webkit-box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
	/*border-radius: 5px;*/
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 215px;
}
input:hover{
    border: 1px solid #0F8DE9;
}
.aBtn{
	cursor:pointer;
   	color:#0099FF;
}
button{
    padding: 12px 25px;
    border-radius: 3px;
    outline-width: 0px;
    background:#3996F5;
    color: #fff;
    border:none;
    cursor:pointer;
    line-height: 0.2rem;
}
.cancel-btn{
	background:#98C3EE;
	margin-right: 15px;
}
.addBtn{
	background:#45b6af;
	padding:5px 25px;
	color:#fff;
	border-radius: 3px;
	cursor:pointer;
}
.addBtn .name{
	margin-left:5px;
}
.addBtn_small{
	background:#45b6af;
	padding:2px 5px;
	color:#fff;
	border-radius: 3px;
	cursor:pointer;
	font-size:12px;
}
.updateBtn_small,.btn_small{
	background:#0099FF;
	padding:2px 5px;
	color:#fff;
	border-radius: 3px;
	cursor:pointer;
	font-size:12px;
}
.deleteBtn_small{
	background:#d9534f;
	padding:2px 5px;
	color:#fff;
	border-radius: 3px;
	cursor:pointer;
	font-size:12px;
}
.myCheckbox{
	background: url(image/checkBox.png) no-repeat 0px 0px;
	display:inline-block;
	width:16px;
	height:16px;
	cursor: pointer;
}
.myCheckbox_checked{
	background: url(image/checkBox_s.png) no-repeat 0px 0px!important;
}
.myCheckbox_disabled{
	background: url(image/checkBox_d.png) no-repeat 0px 0px!important;
}
.search{
    display: inline-block;
    width:20px;
    height:20px;
    margin-left: 5px;
    background: url(image/search.svg)  center no-repeat;
    background-size: 100%;
    vertical-align: -5px;
    cursor:pointer
}
.search:hover{
    background: url(image/search_h.svg)  center no-repeat;
}
.input_multipleData{
    padding: 0 5px 0 10px;
    background: url(image/more.png) no-repeat 95%;
    background-size: 1.6%;
    color: #2E2C2C;
    width:250px;
    cursor: pointer;
}
.dropdown-wrapper{
    display:inline-block;
    position:relative;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.dropdown-wrapper:hover{
    border: 1px solid #0F8DE9;
}
.dropdown-wrapper >input{
    height: 100%;
    width:200px;
    font-size: 12px;
    padding: 0 5px 0 10px;
    background: url(image/down.png) no-repeat 95%;
    border: none;
    outline: none;
    color: #2E2C2C;
}
.dropdown-wrapper .dropdown{
    width: 100%;
    border: 1px solid #CBC9C9;
    position: absolute;
    z-index: 1000;
    background-color: #FAFAFA;
    border-radius: 5px;
    overflow: auto;
    max-height: 130px;
    text-align: left;
}
.dropdown-wrapper .dropdown .search-wrapper{
   	display:inline-block;
   	padding-right:1px;
   	width:calc(100% - 15px);
   	margin:5px;
   	height: 22px;
   	border: 1px solid #E6E6E6;           
}
.dropdown-wrapper .dropdown .search-wrapper input{
  	height: 100%;
  	width: calc(100% - 25px);
  	padding: 0px 3px;
  	border: none;
  	outline: none;
	font-size: 12px;
}
.dropdown-wrapper .dropdown .search-wrapper .icon{
  	display:inline-block;
  	width:12px;
  	height:12px;
  	background: url(image/search.png) no-repeat center center;
  	background-size: 12px 12px;
  	vertical-align: -2px;
  	argin-left: 3px;
}
.dropdown-wrapper .dropdown >div{
    padding: 1px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
}
.dropdown-wrapper .dropdown >div:hover{
    background: #CBC9C9;
}
.dropdown-wrapper-without-input{
	border:none!important;
}
.dropdown-wrapper-without-input .name{
	cursor:pointer;
	color:#0099FF;
	font-size:14px;
}
.dropdown-wrapper-without-input .dropdown{
    word-break: keep-all;
    width:auto;
}
.navbar-top{
    height:50px;
    line-height: 50px;
    background: #393939;
    font-size:14px;
    color:#797977;
}
.navbar-top > a{
     text-decoration: none;
     color:#797977;
     font-size:21px;
     margin:20px;
 }
.router-link-exact-active,.router-link-active{
    color:#3994F1!important;
}
.navbar-top > a:hover{
    color:#3994F1;
}
.navbar-top .userWrapper{
    float: right;
    margin-right:50px;
}
.navbar-top .userWrapper .user{
    color:#3994F1;
}
.navbar-top .logoWrapper{
    float: left;
    padding: 0px 20px;
    color:#fff;
}
.navbar-top .logo{
    width:200px;
    height:50px;
    background: url(image/logo.png)  center no-repeat;
    background-size: 100%;
    float: left;
}
.navbar-top .nav{
    width:90px;
    height:50px;
    line-height: 50px;
    float: left;
    border-right:1px solid #666666;
    cursor: pointer;
    text-align: center;
    color: rgba(255, 255, 255, 0.67);
}
.navbar-top .nav:hover{
    background:#0F8DE9;
    color:#ffffff!important;
}
.navbar-top .navCheaked{
    background:#0F8DE9;
    color:#ffffff!important;
}
.navbar-top .nav .dropdown{
	position: absolute;
	z-index: 1000;
	background-color: #FAFAFA;
	border: 1px solid #CBC9C9;
	border-radius: 2px;
	display: none;
}
.navbar-top .nav .dropdown div{
	cursor: pointer;
	color: #b8bfcc;
	font-size: 14px;
	color: #000;
	line-height:normal;
	padding: 3px 34px;
	text-align: left;		
}
.navbar-top .nav .dropdown div:hover{
	background:#0F8DE9;
    color:#ffffff!important;
}
.navbar-top .nav .dropdown div:first-child{
	padding-top:6px!important;			
}
.navbar-top .nav .dropdown div:last-child{
	padding-bottom:6px!important;			
}
.navbar-top .user{
	height:50px;
    line-height: 50px;
    float: right;
    cursor: pointer;
    color: #ffffff;
    margin-right:20px;
    border:none!important;
}
.navbar-top .user .icon{
	display:inline-block;
  	width:12px;
  	height:12px;
  	background: url(image/down.png) no-repeat center center;
  	background-size: 12px 12px;
  	vertical-align: -2px;
}
.navbar-top .user .dropdown{
	line-height: 25px!important;
}
.navbar-top-small{
    height:35px!important;
}
.navbar-top-small .logo{
    height:35px!important;
}
.navbar-top-small .nav{
    height:35px!important;
    line-height: 35px!important;
}
.t-head-wrapper{
	overflow: hidden;
}
.t-head > div{
    float:left;
    background: #F2F2F2;
}
.tableWrapper {
    margin-bottom:15px;
    height: 450px;
    overflow: auto;
}
.tableWrapper  table,
.t-head{
    width:100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
}
.tableWrapper  table tr td,
.t-head > div{
    padding:10px;
    border: 1px solid #F2F2F2;
}
.tableWrapper  table tr td:not(:first-child){
    min-width:70px;
}
.tableWrapper  table .checkAll,
.t-head .checkAll{
    color:#0099FF;
    cursor:pointer;
}


.footer-searchList {
    text-align: center;
    color: #999999;
    font-size: 14px;
}
.footer-searchList .dropdown-wrapper{
    display:inline-block;
    position:relative;
    cursor: pointer;
    text-align: center;
    border: none;
    height: auto;
    width: auto;
    padding-right:0px
}
.footer-searchList .dropdown-wrapper .dropdown{
    position: absolute;
    z-index: 1000;
    background-color: #FAFAFA;
    border: 1px solid #CBC9C9;
    border-radius: 2px;
    overflow: auto;
    max-height: 150px;
    top:-80px;
}
.footer-searchList .dropdown-wrapper .dropdown >div{
    padding: 2px 10px;
    cursor: pointer;
    color: #b8bfcc;
    font-size: 12px;
    color: #000;
    line-height: 15px;
}
.footer-searchList .dropdown-wrapper .dropdown >div:hover{
    background: #CBC9C9;
}
.footer-searchList .pageIndex{
    width: 30px;
    border: 1px solid #DEDBDB;
    height: 18px;
    text-align: center;
    outline: none;
    margin: 0 2px;
    padding-left:0px;
}
.footer-searchList .prePage{
    cursor:pointer;
    margin:0 10px;
}
.footer-searchList .nextPage{
    cursor:pointer;
    margin-right:10px;
}
.footer-searchList .firstPage{
    cursor:pointer;
    margin-left:10px;
}
.footer-searchList .lastPage{
    cursor:pointer;
    margin-right:10px;
}
#tipModel{
  position: fixed;
  top:0px;
  right:0px;
  bottom: 0px;
  left:0px;
  z-index: 1100;
  background: rgba(0,0,0,0.5);
  display:none;
}
#tipModel .dialog{
	border: 1px solid #2b323b;
	box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	-moz-box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	-webkit-box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	border-radius: 0.2px;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background: #fff;
  }

#tipModel .dialog .header{
	  height:30px;
	  line-height: 30px;
	  text-align: center;
	  background:#F2F2F2;
	}

#tipModel .dialog .body{
	  	text-align: center;
		padding:25px 35px;
	  	max-width:300px;
	  	min-width:220px;
	  	font-size:14px;
	  	word-break: break-all;
	}
#tipModel .dialog .footer{
	  text-align: center;
	  background:#F2F2F2;
	  padding:10px 30px;
	}

#tipModel .dialog .footer .cancel-btn{
		margin-left:20px;
		display:none;
	  }
	  
#tipModel_top{
  position: fixed;
  top:0px;
  right:0px;
  bottom: 0px;
  left:0px;
  z-index: 1100;
  background: rgba(0,0,0,0.5);
  display:none;
}
#tipModel_top .dialog{
	border: 1px solid #2b323b;
	box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	-moz-box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	-webkit-box-shadow: 0px 0px 10px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
	border-radius: 0.2px;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background: #fff;
  }

#tipModel_top .dialog .header{
	  height:30px;
	  line-height: 30px;
	  text-align: center;
	  background:#F2F2F2;
	}

#tipModel_top .dialog .body{
	  	text-align: center;
		padding:25px 35px;
	  	max-width:300px;
	  	min-width:220px;
	  	font-size:14px;
	}
#tipModel_top .dialog .footer{
	  text-align: center;
	  background:#F2F2F2;
	  padding:10px 30px;
	}

#tipModel_top .dialog .footer .cancel-btn{
		margin-left:20px;
		display:none;
	  }	  

#waiting{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.4);
  z-index:1000;
  
}

#waiting img{
	position:absolute;
	z-index:1001;
	width:70px;
	height:70px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
  }

#tooltip{
  position: absolute;
  padding: 10px;
  word-break:break-all;
  max-width:300px;
  font-size: 14px;
  display: none;
  background: white;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 3px 10px -5px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
  -moz-box-shadow: 0px 3px 10px -5px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
  -webkit-box-shadow: 0px 3px 10px -5px #000000,0px 3px 2px -3px rgba(255,255,255,0.38) inset;
  border-radius: 2px;
  z-index:1010;
  font-size:12px;
}









